$gray: #CCC;
$black: #000;
$white: #FFF;
$red: #F44336;
$purple: #9C27B0;
$blue: #2196F3;
$green:#8BC34A;
$yellow: #FFEB3B;
$brown: #795548;
$dark-gray: #9E9E9E;
$teal: #009688;
$lime: #CDDC39;
$orange: #FF9800;
$cyan: #00E5FF;
$dark-purple:#1A237E;
$dark-red:#B71C1C;
$lite-brown:#BCAAA4;