.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.pagination-wrapper {
  width: 100%; 
  padding: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
